.moon{
    position: absolute;
    width: 700px;
    height: 700px;
    border: 1px solid rgba(0,0,0,0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #d8d8d8;
    box-shadow: inset 15px 15px 10px #999;
}
.dog{
    position: absolute;
    top: -40%;
    left: 50%;
    background: transparent url('spritesheet.png') 0 0 no-repeat;
    width: 562px;
    height: 602px;
    /* background-color: brown; */
    transform: translate(-50%, 50%);
    margin: 2em auto;
    animation: run 1s steps(6) infinite;
}
@keyframes run{
    100%{
        background-position: -3372px ,0;
    }
    
}
p.loading{
    width: 100%;
    height: 10px;
    font-family: 'monospace';
    position:absolute;
    left: 0;
    color: #4c4c4c;
    font-size: 20px;
    text-shadow: 1px 1px qpx #737373;
    text-align: center;
}
input.left, input.right, span.left, span.right{
    position: absolute;
    top: 0%;
    width: 100px;
    height: 20px;
    cursor: pointer;
    z-index: 20;
}
span.left, span.right{
    pointer-events: none;
    color: #4c4c4c;
    font-size: 30px ;
    text-shadow: 1px 1px 1px #737373;
}
input.left, span.left{
    left: 0;
}
input.right, span.right{
    right: 0;
}
input.left, input.right{
    opacity: 0;
}
.left:checked ~ .dog{
    transform:  translate(-50%, -50%) rotateY(180deg);
}

/* rotate image fix the error */